* {
  padding: 0px;
  margin: 0px;
}

.head {
  font-size: 4rem;
  text-align: center;
  background-color: rgb(1, 1, 140);
  padding: 10px;
  color: white;
  border-bottom: 5px solid black;
}
.row {
 margin: 100px;
}
.fas {
  font-size: 50px;
  color: white;
}
.card-body {
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.card {
  border: 1px solid black;
  
}